.title
{
    text-align: center;
    width: 500px;
    height:30px;
    margin: 0 auto;
}
.ambos
{
    height: 300px;
    background-image: url("http://www.walldevil.com/wallpapers/a71/wallpaper-patterns-stripe-contemporary-fresh-stripes-digital-art-images.jpg");

}
.primero
{
    width: 50%;
    height: 300px;
    float: left;
    overflow-y: scroll;
    overflow-x: auto;

}
.segundo
{
    width: 50%;
    height: 300px;
    overflow-y: scroll;
    overflow-x: auto;
}
.header
{
   text-align: center;
}
.con_imagenes{
    height: 200px;
    height: auto;
}
.plastico {
    margin-left: 220px;

}
.elastico{
    margin-left:900px;

}
img{
    display: block;
    margin: auto;
}
h1,h2,b,p,h3
{
    color: white;
}
a{
    color: blue;

}
