.title {
    text-align: center;
    width: 500px;
    height: 30px;
    margin: 0 auto;
}

.ambos {
    height: 300px;
    border:1px solid black
}

.primero {
    width: 50%;
    height: 300px;
    float: left;
    overflow-y: scroll;
    overflow-x: auto;

}

.segundo {
    width: 50%;
    height: 300px;
    overflow-y: scroll;
    overflow-x: auto;
}

.header {
    text-align: center;
}


.plastico {
    overflow-y: auto;

}

.elastico {
    overflow-y: auto;

}

h1, h2, b, p, h3 {
    color: black;
}

a {
    color: black;
    background: gray;
    border: solid black 1px;
    border-radius: 25px;
    display: inline-block;
    padding: 10px;
}

.encabezado {
    size: 20px;
    color: blue;
}

body {

    background: url("https://image.freepik.com/vector-gratis/fondo-de-textura-con-un-diseno-de-madera-clara_1048-1352.jpg");
}

.columnaleft {
    float: left;
    margin-left: 40px;
}

.columnaright {
    float: right;
    margin-right: 40px;
}

.despues {
    float: left;

}
.canvas